body {
  color: #000;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1,
h2 {
  font-weight: 600;
}
h1 {
  text-align: center;
  font-size: 56px;
}
h2 {
  font-size: 40px;
  margin: 24px 0;
}
h3,
h4,
h5 {
  font-weight: 500;
  margin: 40px 0 20px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  margin: 16px 0 0;
}
main {
  padding: 84px 0 44px;
}
section {
  padding: 0 5%;
  max-width: 846px;
  margin: 0 auto;
}
.content {
  padding: 80px 0;
}
.footer {
  margin-top: 44px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h3,
  h4,
  h5 {
    margin: 28px 0 14px;
  }
  p {
    font-size: 14px;
    margin-top: 12px;
  }
  main {
    padding: 60px 0 30px;
  }
  .content {
    padding: 40px 0;
  }
}
